.login {
    margin-top: 90px;
    
    &__image {
        width: 80%;
    }
    
    &__label {
        font-size: 20px;
        color: #F5F5DC;
    }
    
    &__input {
        font-size: 18px;
        background-color: #032f5b;
        border: 1px solid #032f5b;
        color: #EAD7BB;
        transition: all 0.5s ease;
        margin-bottom: 10px;
        
        &:focus {
            box-shadow: none;
            background-color: #7286D3;
            border: 1px solid #7286D3;
            color: #F5F5DC;
        }
    }
    
    &__check-input {
        padding: 8px;
        margin-right: 10px;
        background-color: #7286D3;
        border: 1px solid #7286D3;
        transition: all 0.5s ease;
        margin-bottom: 10px;
        
        &:checked {
            background-color: #8EA7E9;
            border: 1px solid #8EA7E9;
        }
        
        &:focus {
            box-shadow: none;
            background-color: #8EA7E9;
            border: 1px solid #8EA7E9;
        }
    }

    &__check-label {
        color: #F5F5DC;
        font-size: 16px;
        text-transform: capitalize;
    }
    
    &__btn {
        background-color: #8EA7E9;
        border: 1px solid #8EA7E9;
        color: #e5e5db;
        border-radius: 10px;
        font-size: 16px;
        padding-bottom: 8px;
        padding-top: 8px;
        transition: all 0.5s ease;
        
        &:hover {
            color: #e5e5db;
            background-color: #7286D3;
            border: 1px solid #7286D3;
        }
        
        &:active {
            color: #e5e5db;
            background-color: #7286D3 !important;
            border: 1px solid #7286D3 !important;
        }
        
        &:focus {
            color: #e5e5db;
            background-color: #7286D3 !important;
            border: 1px solid #7286D3 !important;
        }
    }
    
    &__link {
        text-decoration: none;
        color: #F5F5DC;
        font-size: 18px;
        
        &:hover {
            color: #F5F5DC;
        }
        
        &:active {
            border: none;
            color: #F5F5DC;
        }
    }
}

.register {
    margin-top: 35px;

    &__title {
        color: #F5F5DC;
        margin-bottom: 5px;
    }
    
    &__title-mobile {
        display: none;
    }
    
    &__image {
        width: 80%;
    }
    
    &__label {
        font-size: 20px;
        color: #F5F5DC;
    }
    
    &__input {
        font-size: 18px;
        background-color: #032f5b;
        border: 1px solid #032f5b;
        color: #F5F5DC;
        transition: all 0.5s ease;
        margin-bottom: 10px;
        
        &:focus {
            box-shadow: none;
            background-color: #7286D3;
            border: 1px solid #7286D3;
            color: #F5F5DC;
        }
    }
    
    &__btn {
        background-color: #8EA7E9;
        border: 1px solid #8EA7E9;
        color: #e5e5db;
        border-radius: 10px;
        font-size: 16px;
        padding-bottom: 8px;
        padding-top: 8px;
        transition: all 0.5s ease;
        margin-top: 1rem;
        
        &:hover {
            color: #e5e5db;
            background-color: #7286D3;
            border: 1px solid #7286D3;
        }
        
        &:active {
            color: #e5e5db;
            background-color: #7286D3 !important;
            border: 1px solid #7286D3 !important;
        }
        
        &:focus {
            color: #e5e5db;
            background-color: #7286D3 !important;
            border: 1px solid #7286D3 !important;
        }
    }
}