.book-detail {
    margin-top: 20px;

    &__back-arrow {
        width: 25px;
        margin-right: 15px;
    }

    &__back-link {
        text-decoration: none;
        color: #F5F5DC;
        font-size: 18px;
        display: inline-flex;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 15px;
    }

    &__card {
        padding: 40px 15px;
        background-color: #213b52;
    }

    &__cover {
        width: 280px;
        height: 380px;
    }


    &__book-info {
        padding: 10px;

        &:last-child {
            padding-bottom: 0px !important;
        }
    }

    &__item-container {
        margin-bottom: 10px;
    }

    &__title-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__title-icon {
        width: 30px;
        color: #F5F5DC;
        margin-right: 10px;
    }

    &__title {
        font-size: 24px;
        color: #F5F5DC;
        margin-bottom: 0;
    }

    &__item {
        margin-left: 40px;
        font-size: 22px;
        color: #EAD7BB;

        &::before {
            content: url('https://api.iconify.design/gg/edit-black-point.svg?color=%23aa5340');
            margin-right: 10px;
        }
    }

    &__description-link {
        text-decoration: none;
    }

    &__book-description-container {
        padding: 10px;
        background-color: #032f5b;
        border-radius: 8px;
        height: 100%;
        max-height: 140px;
        margin-top: .75rem;
    }

    &__book-description {
        text-indent: 70px;
        font-size: 20px;
        margin-bottom: 0;
        color: #F5F5DC;
        height: 100%;
        // display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow-y: scroll;
    }

    &__btn-container {
        margin-top: 10px;
    }

    &__btn {
        width: 80%;
        background-color: #001E3C;
        font-size: 18px;
        font-weight: 600;
        color: #F5F5DC;
        padding: 5px 15px;
        transition: all ease 0.5s;

        &:hover {
            background-color: #032f5b;
            color: #e5e5db;
        }

        &:focus {
            background-color: #032f5b;
            color: #e5e5db;
        }

        &:active {
            background-color: #032f5b !important;
            color: #e5e5db !important;
            transform: translateY(10px);
        }
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.borrow-modal {

    &__content {
        background-color: #001E3C;
        color: #F5F5DC;
    }

    &__header {
        border-bottom: none;
    }

    &__title {
        font-size: 25px;
        width: 100%;
    }

    &__footer {
        border-top: none;
    }

    &__message {
        font-size: 20px;
        text-align: left;
        color: #F5F5DC;
    }

    &__reminder {
        font-weight: bold !important;
        color: #D83F31 !important;
    }

    &__borrow-btn {
        background-color: #001E3C;
        font-size: 16px;
        color: #F5F5DC;
        border: 1px solid #001E3C;

        &:hover {
            background-color: #032f5b;
            border: 1px solid #032f5b;
            color: #e5e5db;
        }
    }

    &__close-btn {
        background-color: #8EA7E9;
        font-size: 16px;
        color: #EAD7BB;
        border: 1px solid #8EA7E9;

        &:hover {
            background-color: #7286D3;
            border: 1px solid #7286D3;
            color: #F5F5DC;
        }
    }
}